{
    "timeout": 10,
    "source": {
        "directories": [
            "."
        ],
        "exclude": [
            "spec",
            "vendor"
        ]
    },
    "logs": {
        "text": "build\/infection-log.txt"
    }
}
